*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('edinburgh1.jpg');
    font-family: 'montserrat', sans-serif;
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}