*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('edinburgh1.jpg');
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    
}

header input{
    width: 100%;
    max-width: 20rem;
    padding: 1rem 1rem;
    border:none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: #313131;
    border-radius: 5px;
    
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.2s ease-out;
}

header input:focus{
    background-color: rgba(255, 255, 255, 0.6);
}

main{
  flex: 1 1 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .1rem;
}

.location .date{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.current .temp{
    font-size: 4rem;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 7px rgba(0, 0, 0, 1);
    margin-bottom: 2rem;
    
}

.current .temp span{
    font-weight: 300;
}

.current .weather{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 1px 1px rgba(0,0,0,0.6);
    padding-bottom: .5rem;
}

.current .hi-lo{
    color:#ffffff;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0,0,0,0.6);
}


